In [1]:
import mysql.connector as connector

### Task 1

In [2]:
# Task 1
dbconfig = {
    "database" : "mydb", 
    "user" : "root",
    "password" : ""
}
connection=connector.connect(**dbconfig)

In [ ]:
connection=connector.connect(user="root",password="")

### Task 2

In [5]:
cursor = connection.cursor()

In [7]:
# Note, 'ordersview', 'task2', and 'task3' are views
show_tables = 'SHOW tables;'
cursor.execute(show_tables)
results = cursor.fetchall()
for item in results:
    print(item)

('bookings',)
('category',)
('customers',)
('delivery_status',)
('employees',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('task2',)
('task3',)

### Task 3

In [16]:
join_query = 'SELECT Bookings.TableNumber, Orders.Cost AS TotalCost, Customers.PhoneNumber FROM Customers JOIN Bookings ON Customers.CustomerID = Bookings.CustomerID JOIN Orders ON Bookings.BookingID = Orders.BookingID WHERE Orders.Cost > 60;'
cursor.execute(join_query)
results = cursor.fetchall()
print(cursor.column_names)
for item in results:
    print(item)

('TableNumber', 'TotalCost', 'PhoneNumber')
(5, Decimal('86'), '351258074')

In [ ]:
connection.close()